body {
  width: 100%; 
}
#input-fields {
  width: 70%; 
  margin: 0 auto; 
  margin-top: 10%; 
}

#formbox {
  padding-top: 10px; 
}

div.ui.search.selection.dropdown {
  min-width: 100%; 
}

div.ui.segment {
  padding-bottom: 10%; 
}