body {
  width: 100%; 
}

#formbox {
  padding-top: 10px; 
}

.ui.selection.dropdown {
  min-width: 100%; 
}

div.ui.segment {
  padding: 10% 0; 
  border: none; 
  box-shadow: none; 
  width: 70%; 
  margin: 0 auto; 
}

.results.transition.visible {
  width: 100%; 
}

button.ui.button {
  margin-top: 20px; 
}
div.inline.fields {
  margin: 0 auto;
}