<html>
  <head>
    <title>Good Kid Trash City</title>
    <link rel='stylesheet' type='text/css' href='http://api.tomtom.com/maps-sdk-js/4.15.0/examples/sdk/map.css' />
    <link rel='stylesheet' type='text/css' href='http://api.tomtom.com/maps-sdk-js/4.15.0/examples/elements.css' />
    <script type='text/javascript' src='http://api.tomtom.com/maps-sdk-js/4.15.0/examples/sdk/tomtom.min.js'></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="application/javascript" src="/manifest-bundle.js"></script>
    <script type="application/javascript" src="/vendor-bundle.js"></script>
    <script type="application/javascript" src="/client-bundle.js"></script>
  </body>
</html>
